<!DOCTYPE html>
<html lang="pl">
<head>
    <meta charset="UTF-8">
    <title>Moje Hobby</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <nav>
        <a href="/">Start</a>
        <a href="/hobby">Moje Hobby</a>
        <a href="/kontakt">Kontakt</a>
    </nav>
    <div class="container">
        <h1>Moje zainteresowania</h1>
        <ul>
            <li>Programowanie aplikacji webowych</li>
            <li>Gry komputerowe</li>
        </ul>
    </div>
</body>
</html>