<!DOCTYPE html>
<html lang="pl">
<head>
    <meta charset="UTF-8">
    <title>Strona Główna</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <nav>
        <a href="/">Start</a>
        <a href="/hobby">Moje Hobby</a>
        <a href="/kontakt">Kontakt</a>
    </nav>
    <div class="container">
        <h1>Witam na stronie o moich pasjach!</h1>
        <p>Skorzystaj z menu powyżej, aby dowiedzieć się o mnie czegoś więcej lub nawiązać ze mną kontakt.</p>
    </div>
</body>
</html>